@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.hero-section {
      display: flex;
      justify-content: space-between;
      margin-right: 10%;
}

.hero-image img {
      width: 80px;
      height: 20px;
      margin-top: 35%;
      margin-left: 150%;
}


.hero-text {
      margin-top: 30px;
}


.hero-text a {
      background-color: #385F96;
      color: rgb(234, 234, 234);
      text-decoration: none;
      padding: 8px 15px;
      border-radius: 40px;
      font-size: 12px;
      */
}

.menu a {
      text-decoration: none;
      margin-right: 20px;
      color: #385F96;
}

.menu {
      margin-top: 35px;
}

/* body part */



.body {
      display: flex;
      margin-top: 10%;
      margin-left: 10%;
}

.top-text {
      text-align: left;
      color: #385F96;
      margin-top: 12%;
      margin-right: 15%;
       
}


.top-text h2{
      font-family: "Poppins", sans-serif;
      font-weight: 800;
}


.text {
      text-align: left;
      color: #385F96;
      margin-top: 12%;
      margin-left: 20%;
}

.hr-tag{
      background-color:  #385F96;
      height: 5px;
      width: 40px;
       text-shadow:  ;
}


.body p {
      width: 478px;
      height: 50px;
      margin-top: 5%;
      margin-bottom: 8%;
}



.body-image img {
      height: 320px;
      width: 300px;
      margin-left: 10%;
}

.midel-image img {
      height: 250px;
      width: 300px;

}

/* footer part */

.tab-image img {
      height: 250px;
      width: 300px;
      margin-left: 90%;
}


.books {
      display: flex;
      color: #385F96;
      background-color: #78E5EB;
      margin-top: 10%;
      padding: 35px 0;
}


.book {
      background-color: #385F96;
      text-align: center;
      color: aliceblue;
      padding: 1px 0;

}

.bag {
      margin-left: 10%;
}